* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, Tahoma, 'Times New Roman';
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  font-weight: 400;
}

.card-conteiner {
  width: 340px;
  height: 573px;
  padding: 25px;
  background-color: #f7f7fa;
  box-shadow: 2px 2px 10px 0px #5150761a;
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #a5a3b9;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.product-descrption {
  margin-bottom: 15px;
}

.product-compound  {
  margin-top: 5px;
  margin-bottom: 20px;
  list-style-type: circle; 
}

.product-compound-item  {
  margin-left: 14px; 
}

.product-price-label {
font-weight: bold;
font-size: 20px;
line-height: 24px;
margin-top: 25px;
}

.product-price {
  font-size: 20px;
  float: right;
}