#product-cards-list {
  display: flex;
  gap: 30px;
}

.product-container {
  display: inline-flex;
  flex-direction: column;
  gap: 7px;
  border: 1px solid black;
  padding: 10px;
  background-color: darkolivegreen;
  color: white;
}