* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, Tahoma, 'Times New Roman';
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  font-weight: 400;
}

.card-container {
  width: 340px;
  height: 573px;
  padding: 25px;
  background-color: #f7f7fa;
  box-shadow: 2px 2px 10px 0px #5150761a;
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #a5a3b9;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.product-description {
  margin-bottom: 15px;
}

.product-compound  {
  margin-top: 5px;
  margin-bottom: 20px;
  list-style-type: circle; 
}

.product-compound-item {
  margin-left: 14px; 
}

.product-price-label {
font-weight: bold;
font-size: 20px;
line-height: 24px;
margin-top: 25px;
}

.product-price {
  font-size: 20px;
  float: right;
}

.page-title {
  font-size: 70px;
  width: 846px;
  height: 78px;
  margin: 220px 217px 119px 217px;
  display: block;
}
  
.card-container_container {
  width: 1280px;
  height: 1715px;
  margin: 0 auto; 
  background-image: url("/images/bg-dangelions.png"); 
  width: 790px; 
  height: 697px; 
  position:absolute; 
  left: 85px; 
  top: -0px;
}

.products-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 1110px;
  height: 1191px;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
}

#change-color-button {
  display: flex;
  justify-content: center;
}

.container-button {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
}

button {
width: 260px;
height: 30px;
border: rgb(0, 0, 0) solid 2px;
border-radius: 1ch;
background-color: #f7f7fa;
color: black;
}

.color-yellow {
  background-color: yellow;
} 
